<input type="text" *ngIf="editMode" 
(focusout)="editMode=false; onEdit()" 
(keydown.enter)='$event.target.blur(); onEdit()'
[(ngModel)]='data' autofocus>

<div (click)="editMode=true" *ngIf="!editMode" #content>
    <ng-content></ng-content>
</div>
