<div class="container is-fluid">
    <h1 class="title">
        Grouped by {{key}}
    </h1>
    <div *ngFor="let node of groupedData | keyvalue">
        <h1 class="title">
            {{node.key}}
        </h1>
        <ul class="columns">
            <li class="column" *ngFor="let book of node.value">
                <app-book-card [book]="book"></app-book-card>
            </li>
        </ul>
    </div>
</div>
