<div class="container is-fluid">
    <div class="buttons has-addons is-centered" *ngIf="(key$ | async) as value">
        <button (click)="key$.next('week')" [class.is-info]="value === 'week'" class="button">Posting Week</button>
        <button (click)="key$.next('author')" [class.is-info]="value === 'author'" class="button">Author</button>
        <button (click)="key$.next('location')" [class.is-info]="value === 'location'" class="button">Location</button>
    </div>
</div>
