<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Nitro Test
            </h1>
            <h2 class="subtitle">
                Angular Application
            </h2>
        </div>
    </div>
</section>
