<div class="card">
    <div class="card-content">
        <app-inline-edit [data]="book.author" (edit)="onEdit($event, book, 'author')">
            <p class="title is-4">{{book.author}}</p>
        </app-inline-edit>
        
        <app-inline-edit [data]="book.location" (edit)="onEdit($event, book, 'location')">
            <p class="subtitle is-6">{{book.location}}</p>
        </app-inline-edit>

        <app-inline-edit [data]="book.text" (edit)="onEdit($event, book, 'text')">
            <div class="content"> {{book.text}}</div>
        </app-inline-edit>
        <p class="subtitle is-6">{{book.time*1000 | date:'medium'}}</p>
    </div>
  </div>
